* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center ;
}

#canvas1 {


   border:4px solid #000;
}